:root {
	--primary-gradient: linear-gradient(215.37deg, rgb(255 100 50), rgb(255 162 40));
	--btn-primary: linear-gradient(215.37deg, rgb(255 93 41) 12.799%, rgb(254 156 28) 85.97%);
	--delivery-btn-primary: linear-gradient(214.42deg, rgb(254 156 28) -16.114%, rgb(255 94 42) 86.235%);
	--secondary-gradient: linear-gradient(215.37deg, rgb(255 89 36) 12.595%, rgb(255 162 41) 86.194%);
	--size-btn-primary: linear-gradient(215.37deg, rgb(255 89 36) 5.76%, rgb(255 162 41) 93.685%);
	--social-btn-primary: linear-gradient(215.37deg, rgb(255 97 46) 5.761%, rgb(255 163 43) 93.685%);
	--black: linear-gradient(223.15deg, rgb(23 10 0) 5.204%, rgb(23 6 0) 33.495%, rgb(15 7 0) 67.654%, rgb(23 10 0) 95.232%);
	--white: white;
	--gray: rgb(163 163 163);
	--gray-dark: rgb(81 81 81);

	/* Адаптивные отступы */
	--container-padding: clamp(20px, 8vw, 130px);
}