.header {
	display: grid;
	grid-template-areas: '. logo . menu . btn-container';
	align-items: center;

	padding-top: 57px;
	padding-bottom: 36px;
}

.logo {
	grid-area: logo;
}


.btn-container {
	display: flex;
	grid-area: btn-container;
	gap: 25px;
	align-items: center;
}

.btn-container .login-button {
	padding: 15px 60px;
	border-radius: 700px 675px 700px 700px;

	font-weight: 500;
	color: var(--white);

	/* TODO: переименовать css переменную */
	background: var(--login-btn-primary);

    
}

.btn-container button {
	transition: .3s opacity;
}

.btn-container button:hover {
	opacity: .5;
}

.btn-container .cart-button {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 50%;


	background: var(--primary-gradient);
}

.btn-container .cart-button svg {
	display: block;
	margin: 0 auto;
	fill: var(--white);
}

.menu-button  {
	display: none;
	background-color: var(--black);
}

@media screen and (width <= 959px) {
	.header {
		grid-template-areas: '. logo . btn-container';
	}

	.btn-container .login-button { 
		display: none;
	}

	.menu-button {
		display: block;
	}
}