.about-us {
	display: flex;
	justify-content: space-between;
}

.column.relative-column {
	position: relative;
	width: fit-content;
	height: fit-content;
}

.column.centerized {
	align-self: center;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 23px;
	max-width: 490px;
}