.about-us {
	display: flex;
	justify-content: space-between;
}

.column.relative-column {
	position: relative;
	width: fit-content;
	height: fit-content;
}

.column.centerized {
	align-self: center;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 23px;
	max-width: 490px;
}

.pizza-image,
.crisps-image {
	position: absolute;
}

.pizza-image {
	top: -110px;

	/* TODO: исправить этот отступ */
	right: -130px;
	width: 251px;
	height: 251px;
}

.crisps-image {
	bottom: -43px;
	width: 213px;
	height: 230px;
}

@media screen and (width <=1359px) {
	.about-us {
		flex-direction: column;
		gap: 50px;
	}

	.column.centerized {
		display: none;
	}

	.column {
		width: 100%;
		max-width: 100%;
	}

	.big-pizza-image {
		width: 250px;
		height: 250px;
	}

	.pizza-image {
		top: -45px;
		right: -20px;
		width: 100px;
		height: 100px;
	}

	.crisps-image {
		bottom: -40px;
		width: 113px;
		height: 130px;
	}
}

@media screen and (width <= 531px) {
	.pizzas {
		width: 290px;
		height: 100px;
	}
}