.about-us {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px;
	align-items: center;
}

.pizza-image {
	position: absolute;

	/* Адаптивная ширина */
	z-index: 1;
	top: -80px;
	right: -80px;

	width: min(251px, 30vw);
	height: min(251px, 30vw);
}



.column.relative-column {
	position: relative;
	width: fit-content;
	height: fit-content;
}

.column.centerized {
	align-self: center;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 23px;
	max-width: 490px;
}

.pizza-image,
.crisps-image {
	position: absolute;
}


.crisps-image {
	bottom: -43px;
	width: min(213px, 30vw);
	height: min(230px, 30vw);
}

@media screen and (width <=1377px) {
	.pizzas {
		max-width: 296px;
		height: 151px;
	}

	.about-us {
		grid-template-columns: 1fr;
	}

	.about-us-content {
		width: 100%;
		max-width: 100%;
	}

	.pizza-image {
		position: static;

		/* Убираем абсолютное позиционирование */
		margin: 20px auto;
	}

	.column.centerized, .column.relative-column {
		display: none;
	}
}